 <div class="col-md-3">
                <h4 style="text-align: center; text-transform: uppercase; font-weight: 700;">Hot</h4><br>
                <div class="panel panel-default shadowed">
                    <div class="row"><br>
                     <div class="col-md-12 ht_content">
                        <small style="color: grey;">Last activity: 5 mins ago</small>
                                 
                         <h4>What are your thoughts about the current pump price of petroleum products?</h4>
                         
                         <small style="color:red;">
                         In this conversation 
                         </small>
                         <div id="convert">
                         
                         <span style="color: #007adf;">+ 5</span>
                         </div>
                         <hr>      
                    </div>

                    <div class="col-md-12 ht_content">
                        <small style="color: grey;">Last activity: 5 mins ago</small>
                                 
                         <h4>What are your thoughts about the current pump price of petroleum products?</h4>
                         
                         <small style="color:red;">
                         In this conversation 
                         </small>
                         <div id="convert">
                        
                         <span style="color: #007adf;">+ 5</span>
                         </div>
                         <hr>      
                    </div>

                    <div class="col-md-12 ht_content">
                        <small style="color: grey;">Last activity: 5 mins ago</small>
                                 
                         <h4>What are your thoughts about the current pump price of petroleum products?</h4>
                         
                         <small style="color:red;">
                         In this conversation 
                         </small>
                         <!--<div id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>-->
                         <span style="color: #007adf;">+ 5</span>
                         </div>
                         <hr>      
                    </div>
                </div>
            </div> 

 <div class="row"><h4 style="text-align: center;"><strong>TRENDING</strong></h4><br>
             <div id="advert-side" class="panel panel-default ">
                 <img src="img/sq_ad.png" width="100%"/>
                 <div><br><br><br> <!-- trending posts -->
                   
                         <div class="col-md-12 tr_content">
                             <div class="col-md-4">
                               {% comment %}<img src="img/tr_pic.png" width="100%" height="100%" />{% endcomment %}
                             </div>
                               <div class="col-md-8">
                                 <h4  class="category-tag" >Business <small class="time-stamp">9 mins ago</small></h4>
                                 <h4>Your internet service provider shouldnt be allowed to spy on you.</h4>
                                 <i style="color: blue;" class="ion-android-share" aria-hidden="true"></i>

                                     <a href="#">7500 shares</a>
                             </div>
                         </div>

                         

                        

                         

                         

                         


            <img id="advert-side" src="img/ht_ad1.png" width="100%" height="70%" />
            <img id="advert-side" src="img/ht_ad2.png" width="100%" height="70%" />

            </div>
        </div>
    </div>