<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Forum Title - Forum</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/coolfm.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <link rel='stylesheet prefetch' href='https://npmcdn.com/flickity@2/dist/flickity.css'>


<link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">

<link href="fonts/ionicons/css/ionicons.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar topnav navbar-default" role="navigation">
        <div class="container-fluid topnav">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header htop">
               
                <div class="navbar-brand topnav">
                    <a>
                        <img src="img/logo.png" width="120" alt="Cool Fm" />
                    </a>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse htop" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="active" href="#">On Air</a>
                    </li>
                    <li>
                        <a href="#">Schedules</a>
                    </li>
                    <li>
                        <a  data-toggle="dropdown">Categories
                          <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Category1</a></li>
                            <li><a href="#">Category1</a></li>
                            <li><a href="#">Category1</a></li>
                          </ul>
                    </li>
                    <li>
                        <a href="#">Shows</a>
                    </li>
                    <li>
                        <a href="#">OAP's</a>
                    </li>
                    <li>
                        <a href="#">Forum</a>
                    </li>
                    <li>
                         
                          <a class="switch" data-toggle="dropdown">Switch Channel
                          <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Channel1</a></li>
                            <li><a href="#">Channel2</a></li>
                            <li><a href="#">Channel3</a></li>
                          </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


   
    <div class="row">
     <!-- advert -->
    <div class="col-md-12">
        <img src="img/cool_adv.png" width="100%", height="100%"/>
    </div>

    <!-- 3 grid for trending, rising and hot topics -->
        <div class="col-md-12"><br><br><br>
            <div class="col-md-9">
                <div class="panel"><br><h3 style="text-align: center; font-weight: 700;" >FORUM</h3><br>

<div class="article">
     <div id="forum-div" class="container-fluid">
        
       
     <table class="my_table">
  <tr>
    <th>Topic   </th>
    <th>Last Activity</th>
    <th>Replies</th>
    <th>In this conversation</th>
    <th>Category</th>
  </tr>
  <tr>
    <td class="forum-topic">I have an idea for an app that put snapchat and instagram out of business in Africa</td>
    <td>2 mins ago</td>
    <td>1000</td>
    <td>
                      
                         <span id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span> </span></td>   <td>TECHNOLOGY</td>
  </tr>
    <tr>
    <td class="forum-topic">Stanbic IBTC has launched its own digital bank in beta</td>
    <td>2 mins ago</td>
    <td>1000</td>
    <td> <span id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span> </span></td><td>TECHNOLOGY</td>
  </tr>
    <tr>
    <td class="forum-topic">Stanbic IBTC has launched its own digital bank in beta</td>
    <td>2 mins ago</td>
    <td>1000</td>
    <td> <span id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span> </span></td><td>TECHNOLOGY</td>
  </tr>
    <tr>
    <td class="forum-topic"> Stanbic IBTC has launched its own digital bank in beta</td>
    <td>2 mins ago</td>
    <td>1000</td>
    <td> <span id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span> </span></td><td>TECHNOLOGY</td>
  </tr>
    <tr>
    <td class="forum-topic">Stanbic IBTC has launched its own digital bank in beta</td>
    <td>2 mins ago</td>
    <td>1000</td>
    <td> <span id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span> </span></td><td>TECHNOLOGY</td>
  </tr>
    <tr>
    <td class="forum-topic">Stanbic IBTC has launched its own digital bank in beta</td>
    <td>2 mins ago</td>
    <td>1000</td>
    <td> <span id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span> </span></td><td>TECHNOLOGY</td>
  </tr>
    <tr>
    <td class="forum-topic">Stanbic IBTC has launched its own digital bank in beta</td>
    <td>2 mins ago</td>
    <td>1000</td>
    <td> <span id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span> </span></td><td>TECHNOLOGY</td>
  </tr>
    <tr>
    <td class="forum-topic">Stanbic IBTC has launched its own digital bank in beta</td>
    <td>2 mins ago</td>
    <td>1000</td>
    <td> <span id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span> </span></td><td>TECHNOLOGY</td>
  </tr>
    <tr>
    <td class="forum-topic">Stanbic IBTC has launched its own digital bank in beta</td>
    <td>2 mins ago</td>
    <td>1000</td>
    <td> <span id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span> </span></td><td>TECHNOLOGY</td>
  </tr>
    <tr>
    <td class="forum-topic">Stanbic IBTC has launched its own digital bank in beta</td>
    <td>2 mins ago</td>
    <td>1000</td>
    <td> <span id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span> </span></td><td>TECHNOLOGY</td>
  </tr>
    <tr>
    <td class="forum-topic">Stanbic IBTC has launched its own digital bank in beta</td>
    <td>2 mins ago</td>
    <td>1000</td>
    <td> <span id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span> </span></td><td>TECHNOLOGY</td>
  </tr>
</table>



                         
               
    </div>


   <!-- end forum  ends-->
</div>


<div>


<div><div>



</div></div></div>  <br><!-- advert -->
    <div class="col-md-12">
        <img src="img/cool_adv.png" width="100%", height="100%"/>
    </div>           

                 <div>
                     <br> <div id="more" class="col-md-12"> <div class="row">
                   <div>  <div  class="col-md-3"> </div></div>



                  </div></div> 
    

                    <br><br>   <!-- freshly pressed -->



    
                    

                    <!-- trending posts -->
                     <div class="row">
                         <div class="col-md-12 tr_content">
                          
                         </div>
                     </div>
                     <!-- -->

                       
                 </div>
                </div>
            </div>
           
            <div class="col-md-3">
                <h4 style="text-align: center; text-transform: uppercase; font-weight: 700;">Hot</h4><br>
                <div class="panel panel-default shadowed">
                    <div class="row"><br>
                     <div class="col-md-12 ht_content">
                        <small style="color: grey;">Last activity: 5 mins ago</small>
                                 
                         <h4>What are your thoughts about the current pump price of petroleum products?</h4>
                         
                         <small style="color:red;">
                         In this conversation 
                         </small>
                         <div id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span>
                         </div>
                         <hr>      
                    </div>

                    <div class="col-md-12 ht_content">
                        <small style="color: grey;">Last activity: 5 mins ago</small>
                                 
                         <h4>What are your thoughts about the current pump price of petroleum products?</h4>
                         
                         <small style="color:red;">
                         In this conversation 
                         </small>
                         <div id="convert">
                        <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span>
                         </div>
                         <hr>      
                    </div>

                    <div class="col-md-12 ht_content">
                        <small style="color: grey;">Last activity: 5 mins ago</small>
                                 
                         <h4>What are your thoughts about the current pump price of petroleum products?</h4>
                         
                         <small style="color:red;">
                         In this conversation 
                         </small>
                         <div id="convert">
                         <img class="conversation" src="img/4671_1.png"/>
                         <img class="conversation2" src="img/s.png"/>
                         <img class="conversation2" src="img/33.png"/>
                         <img class="conversation2" src="img/3e.png"/>
                         <span style="color: #007adf;">+ 5</span>
                         </div>
                         <hr>      
                    </div>
                </div>
            </div> 
  <div class="row">
             <div id="advert-side" class="panel panel-default ">
                 <img src="img/sq_ad.png" width="100%"/>
                 <div>
                   
                       

            <img id="advert-side" src="img/ht_ad1.png" width="100%" height="70%" />
            <img id="advert-side" src="img/ht_ad2.png" width="100%" height="70%" />

            </div>
        </div>
    </div>
    <!-- -->
    <!-- -->
   
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
     <script src='https://npmcdn.com/flickity@2/dist/flickity.pkgd.js'></script>

 
</body>

</html>
