<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OAPS </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/coolfm.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <link rel='stylesheet prefetch' href='https://npmcdn.com/flickity@2/dist/flickity.css'>

<link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">


<link href="fonts/ionicons/css/ionicons.css" rel="stylesheet">


<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css'>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar topnav navbar-default" role="navigation">
        <div class="container-fluid topnav">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header htop">
               
                <div class="navbar-brand topnav">
                    <a>
                        <img src="img/logo.png" width="120" alt="Cool Fm" />
                    </a>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse htop" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="active" href="#">On Air</a>
                    </li>
                    <li>
                        <a href="#">Schedules</a>
                    </li>
                    <li>
                        <a  data-toggle="dropdown">Categories
                          <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Category1</a></li>
                            <li><a href="#">Category1</a></li>
                            <li><a href="#">Category1</a></li>
                          </ul>
                    </li>
                    <li>
                        <a href="#">Shows</a>
                    </li>
                    <li>
                        <a href="#">OAP's</a>
                    </li>
                    <li>
                        <a href="#">Forum</a>
                    </li>
                    <li>
                         
                          <a class="switch" data-toggle="dropdown">Switch Channel
                          <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Channel1</a></li>
                            <li><a href="#">Channel2</a></li>
                            <li><a href="#">Channel3</a></li>
                          </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



 
<h1 style="text-align: center; font-weight: 700;">OAPS</h1><br><br>
   
      <div class="doubleColumns">
  <div style="background: #fff; background-size: cover;" class="doubleColumn"> <div class="col-md-12">
        <img src="img/cool_adv.png" width="0%", height="0%"/>
    </div>           

                 <div>
                     <br> <div id="more" class="col-md-12"> <div class="row">
                   <div> <div style="background: url('img/Kaylah-Oniwo-releases-new-sexy-pictures-5.jpg'); background-size: cover;" id="oaps" class="col-md-3"><p>Kaylah Oniwo</p> </div></div>



                   <div>  <div style="background: url('img/jay-z-003.jpg'); background-size: cover;" id="oaps" class="col-md-3"><p>Rotimi Alakija</p>  </div></div>


                   <div>  <div style="background: url('img/TCD_0051-600x900.jpg'); background-size: cover;" id="oaps" class="col-md-3"><p>Freeze</p>  </div></div>



                   <div>  <div style="background: url('img/TCD_0158-600x900.jpg'); background-size: cover;" id="oaps" class="col-md-3"><p>   Dotun</p>  </div></div>

                    </div></div> 
    <br>
    <!-- end chart details -->
  </div>
    
  </div>
  <div class="doubleColumn">    <div class="col-md-12">
        <img src="img/cool_adv.png" width="0%", height="0%"/>
    </div>           

                 <div>
                     <br> <div id="more" class="col-md-12"> <div class="row">

                   <div>  <div style="background: url('img/TCD_0158-600x900.jpg'); background-size: cover;"  id="oaps" class="col-md-3"><p>June Ubi</p>  </div></div>




                   <div>  <div style="background: url('img/TCD_0158-600x900.jpg'); background-size: cover;" id="oaps" class="col-md-3"><p>Tora</p>  </div></div>


                   <div>  <div style="background: url('img/TCD_0158-600x900.jpg'); background-size: cover;" id="oaps" class="col-md-3"><p>Ewoma</p>  </div></div>



                   <div>  <div style="background: url('img/TCD_0158-600x900.jpg'); background-size: cover;" id="oaps" class="col-md-3"><p>Tyrone</p>  </div></div>
</div></div> 
    <br>
    <!-- end chart details -->
  </div>
</div>
   

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
     <script src='https://npmcdn.com/flickity@2/dist/flickity.pkgd.js'></script>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>

  <script src="js/news.js"></script>


 
</body>

</html>
