.home-search-input{
    background-color: #e8e8e8;
    border-radius: 20px 0 0 20px;
    border-right: solid 0 transparent;
}
.home-search-input::placeholder{
    color: #c3c3c5;
}
.home-search-button{
    border-radius: 0 20px 20px 0;
    background-color: #e8e8e8;
    border: solid 1px #d3d4d5;
    border-left: solid 0 transparent;
}

.get-app-button{
    background: linear-gradient(45deg, #97b5d9, #0b57b2);
    border-radius: 20px;
}