@font-face {
    font-family: 'Circular-light';
    src: url(circular/circular-light.woff2) format('woff2'), url(circular/circular-light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circular-book';
    src: url(circular/circular-book.woff2) format('woff2'), url(circular/circular-book.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular-medium';
    src: url(circular/circular-medium.woff2) format('woff2'), url(circular/circular-medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular-bold';
    src: url(circular/circular-bold.woff2) format('woff2'), url(circular/circular-bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circular-black';
    src: url(circular/circular-black.woff2) format('woff2'), url(circular/circular-black.woff) format('woff');
    font-weight: 900;
    font-style: normal;
}